div.homeContainer{
    position:   absolute;
    width:      100%;
    height:     100%;
}

img#homeLogo{
    position:   absolute;
    top:        5%;
    left:       70%;
    width:      70px;
    height:     70px; 
}

div.homeTitolo{
    color:      white; 
    font-size:  20pt;
    border:     none;
    position:   absolute;
    top:        30%;
    right:      7%;
    background-color: #aaff00; 
    overflow:   hidden;
}

div.homeHeader
{
	position:	absolute; 
    margin:     0px; 
	width:		100%; 
	height:		15%; 
    background-color: #aaff00; 
}

div.homeContenuto
{
	position:	absolute;
	top:		15%; 
	height:		85%;
	width:		100%; 
	float:		right; 
}

div.descrizione
{
    position:   absolute;
    top:        10%;
    left:       23%;
    font-size:  20pt;
}

div.contatti
{
    position:   absolute;
    top:        20%;
    left:       30%;
    font-size:  16pt;
}

.homeButton
{
    position: absolute;
    text-decoration: none;
    text-align: center;
    padding: 16px 61px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font: 20px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #00ffcc;
    background-image: -moz-linear-gradient(top, #2ee8bd 0%, #4297b3 100%);
    background-image: -webkit-linear-gradient(top, #2ee8bd 0%, #4297b3 100%);
    background-image: -o-linear-gradient(top, #2ee8bd 0%, #4297b3 100%);
    background-image: -ms-linear-gradient(top, #2ee8bd 0% ,#4297b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4297b3', endColorstr='#4297b3',GradientType=0 );
    background-image: linear-gradient(top, #2ee8bd 0% ,#4297b3 100%);
    -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
} 

.homeButton:hover
{
	border: 1px solid;
}

a
{
    text-decoration:    none;
}