<HTML>
<HEAD>
<TITLE>HOMEPAGE</TITLE>
</HEAD>
<body bgcolor="#99FFCC">
<a href="sagoyadafer.asp" target="_blank"><img src="pubblicita.jpg" border="0" width="100%" heigth="5%" alt="nome del tuo sito"></a>
<CENTER><B><H1>SAGOYADAFER</center></B></H1> &nbsp <a href="InserimentoUN.html">registrati</A>
 <br><br>
 <a href="InserimentoUR.html">login</A> &nbsp <center><img src="logo_sagoyadafer.PNG"></center>
 <a href="logout.asp">logout</A>
<BR>
<HR>
<CENTER>
<b>testo promemoria</b>
<input name="desc" type="text" value=""/>
<br><br>
<b>tags</b>
<FORM ACTION="inserimentot.asp" METHOD="post">
Selezionare il campo desiderato:<BR>
<SELECT NAME="day">
  <OPTION>spesa
  <OPTION>amici
  <OPTION>scuola
  <OPTION>lavoro
  <OPTION>sport
</SELECT>
<br><br>
<b>colore</b>
<FORM ACTION="inserimentoc.asp" METHOD="post">
Selezionare il colore desiderato:<BR>
<SELECT NAME="day">
  <OPTION>verde
  <OPTION>giallo
  <OPTION>rosso
  <OPTION>bianco
  <OPTION>
</SELECT>
</FORM>
<form action="inserimentoP1.asp" method="post"><input type="submit" value="aggiungi"></form>
<br><br>
<input type="reset" value="cancella">
<br><br>
<form action="visualizzah.asp" method="post">
<b>promemoria pubblici</b><html>
<head>
<title>Visualizza promemoria</title>
</head>
<body>
<div Align="center"><b>promemoria</b></div>
<table width"95%" border="1" cellpadding="4">
<tr>
<td><b>descr</b></td>
</tr>
</table>
<%
if rs.EOF then
response.write("non ci sono nominativi")
else
rs.movefirst
do while not rs.EOF
%>
<table width="95%" border="1" cellpadding="4"> 
<tr>
<td width=20%><% response.write rs("descr")%></td>

</tr>
</table>
<%
rs.movenext
loop
end if
rs.close
set rs=nothing
connessione.close
set connessione=nothing
%>
<a href="inserimentoP.html">torna alla pagina di inserimento
</a>
</form>
</body>
</html>
